<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>

<!-- Content here injected by the routeProvider -->
<ng-view></ng-view>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

<!-- Templates -->
Text
</body>
</html>
