<div>
    <h3>Aufgabe 3 - Built-In-Direktiven</h3>

    <div>
        In dem hier verwendeten Controller wurde ein Array 'names' hinterlegt.
        <br/>
        Es enthält einige Personendaten.

        <h4>Aufgabenstellung:</h4>
        Lassen Sie das Array mit Hilfe der Direktive 'ng-repeat' durchgehen.
        <br/>
        Geben Sie hierbei die Variablen 'firstName' und 'lastName' aus dem Array aus.
        <br/>
        Machen Sie außerdem jedes Element anklickbar.
        <br/>
        Bei einem Klick auf das jeweilige Element, soll dieses mit Hilfe der fertigen Methode 'delete()' aus dem Array
        im Controller entfernt
        werden.
        <br/><br/>
        Hinweis: Übergeben Sie der Methode den Parameter '$index', der Funktionsaufruf lautet also 'delete($index)'.
        <br/>
        '$index' enthält den Array-Index zu dem Element, welches angeklickt wird und somit gelöscht werden soll.
    </div>

    <br/><br/><br/>

    <!--AUFGABE START-->
    <!--ToDo A3: Liste per ng-repeat ausgeben-->
    <!--ToDo A3: delete($index)-Aufruf per Klick für jedes Element implementieren-->

    <ul>
      <li ng-repeat="name in names" ng-click="delete($index)">
        {{name.firstName}} {{Name.lastName}}
      </li>
    </ul>



    <!--AUFGABE ENDE-->
</div>
