<div>
    <h3>Aufgabe 1 - View / Routing - Teil 1</h3>

    <div>
        Im oberen Bereich der Seite sehen Sie eine kleine Navigationsleiste, dessen Verlinkungen allerdings noch nicht funktionieren.
        <br/>
        Nur aufgabe1.html ist fest über ein ng-include in die index.html eingebunden.
        <br/>
        <h4>Aufgabenstellung:</h4>
        Ersetzen Sie das ng-include mit der Direktive ng-view zur Anzeige von austauschbaren Views.
        <br/>
        Ergänzen Sie außerdem die Templates aus dem Ordner 'view' im $routeProvider in app.js.
        <br/>
        Anschließend sollte der Zugriff auf Aufgabe 2 und 3 möglich sein.
    </div>
</div>