<div>
    <h3>Aufgabe 2 - View / Routing - Teil 2</h3>

    <div>
        <h4>Aufgabenstellung:</h4>
        Ergänzen Sie in app.js das Routing für aufgabe2.html so, dass AUCH ein Route-Parameter mit dem Namen 'taskId'
        übergeben
        werden KANN. <br/>
        Wenn Sie anschließend einen Parameter übergeben, wird dieser ausgegeben.
    </div>


    <br/><br/><br/>

    <div ng-if="hasTaskId()">
        Route-Parameter: {{taskId}}
    </div>

    <div ng-if="!hasTaskId()">
        URL-Parameter fehlt!
    </div>
</div>